@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.516);
}
body{
    background-color: white;
}

/* Navbar Start*/

.navbar{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 4rem;
    background-color: rgba(51, 51, 101, 0.188);
    gap: 2rem;
    list-style: none;
}

.navbar li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.516);
    font-size: 23px;
    list-style: none;
}

.navbar li a:hover{
    color: black;
}

#name{
    color: rgba(0, 0, 0, 0.516);
    font-size: 23px;
    list-style: none;
    justify-self: start; 
}

/* Navbar End */

.title{
    display: flex;
    border: 2px, dotted, black;
    justify-content: center;
}

/* Home page start */
#grad{
    border: 3px green solid;
    border-radius: 10px;
}

.research{
    display: flex;
    justify-content: left;
}

.research a{
    text-decoration: none;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.516); 
}

.research a:hover{
    color:black;
}

.grades{
    display: flex;
    justify-content: center;
}

#map{
    border: 1px grey solid;
    border-radius: 10px;
}

/* Artifact Page Start */
.degree{
    display:flex;
    gap: 9rem;
}

#cert{
    border: 1px grey solid;
    border-radius: 10px;
    width: 1141px;
    height: 513px;
}

#food{
    border: 1px black solid;
    border-radius: 10px;
}

/* Resume Page Start */
#resume{
    display:flex;
    border: 1px grey solid;
    border-radius: 10px;

}

